.error,
.required {
  color: red;
}

.fa-info-circle {
  color: #6ebe49;
}

.ng-invalid.ng-touched {
  border-color: red;
}

/deep/ .columnsToAdd {
  min-width: 300px !important;

  .ui-listbox-filter-container {
    float: right;
    width: 90% !important;
  }

  .ui-listbox-list-wrapper {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.form-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

/deep/ .dualList {
  .button-bar {
    display: none;
  }

  .listbox {
    button {
      padding: 2px;
    }
  }

  .filter {
    input {
      height: 25px;
    }

    &::after {
      top: -30px !important;
    }
  }

  .record-picker {
    label {
      font-size: 11px !important;
    }
  }
}

.displayExistingColumns {
  position: absolute;
  top: 36px;
  background: #fff;
  left: 0;
  z-index: 1;
  padding: 5px;
  border: 1px solid #ccc;

  .close {
    position: absolute;
    top: -22px;
    right: 0;
  }

  .innerDiv {
    min-width: 175px;
    max-height: 200px;
    overflow: auto;
    div {
      padding: 5px;
    }
  }
}
