<div class="row" *ngIf="selectedTable">
  <div class="col-6">
    Schema Name: <span class="font-weight-bold">{{ selectedTable.SCHEMA_NAME }}</span>
  </div>
  <div class="col-6">
    Table Name: <span class="font-weight-bold">{{ selectedTable.TABLE_NAME }}</span>
  </div>
</div>

<div class="mt-3 p-0">
  <form class="row p-0" [formGroup]="addForm">
    <div class="form-group col-6 row">
      <div class="form-overlay" *ngIf="action !== 'new'"></div>
      <label class="pr-0 col-5">Choose Table <span class="required">*</span></label>
      <div class="col-7 row">
        <p-dropdown class="" appendTo="body" [options]="dimensionTables" [filter]="true" placeholder="Select a Table"
          formControlName="LOOKUP_TABLE_NAME" optionLabel="schemaTableName"
          (onChange)="tableSelected($event.value.TABLE_NAME)">
        </p-dropdown>
      </div>
      <div class="col-12 mt-1" *ngIf="errors.noValidatedVersion">
        <p class="error">
          {{errors.noValidatedVersion}}
        </p>
      </div>
    </div>

    <div class="form-group col-6 row">
      <div class="form-overlay" *ngIf="action !== 'new'"></div>
      <label class="pr-0 col-5">Table Alias <span class="required">*</span></label>
      <div class="col-5 row">
        <input type="text" class="form-control" formControlName="LOOKUP_TABLE_ALIAS" placeholder="Table Alias">
      </div>
    </div>

    <div class="form-group col-6 row">
      <div class="form-overlay" *ngIf="action !== 'new'"></div>
      <label class="pr-0 col-5">{{ selectedTable.TABLE_NAME }} Join Key <span class="required">*</span></label>
      <div class="col-7 row">
        <p-dropdown class="" appendTo="body" [options]="tableColumns" [filter]="true" optionLabel="TARGET_COLUMN_NAME"
          formControlName="LOOKUP_JOIN_KEYS1" placeholder="Select {{ selectedTable.TABLE_NAME }} Join Key">
        </p-dropdown>
      </div>
    </div>

    <div class="form-group col-6 row">
      <div class="form-overlay" *ngIf="action !== 'new'"></div>
      <label class="pr-0 col-5">Dimension Join Key <span class="required">*</span></label>
      <div class="col-7 row">
        <p-dropdown class="" appendTo="body" [options]="dimensionTableColumns" [filter]="true"
          formControlName="LOOKUP_JOIN_KEYS2" optionLabel="TARGET_COLUMN_NAME" placeholder="Select Dimension Join Key">
        </p-dropdown>
      </div>
    </div>

    <div class="form-group col-6 row" *ngIf="addForm.value.LOOKUP_TABLE_NAME">
      <div class="form-overlay" *ngIf="action !== 'new'"></div>
      <label class="pr-0 col-5">Column Name Prefix <span class="required">*</span></label>
      <div class="col-5 row">
        <input oninput="this.value = this.value.toLowerCase()" type="text" class="form-control"
          formControlName="COLUMN_NAME_PREFIX" placeholder="Column Name Prefix">
      </div>
    </div>

    <div class="form-group col-6 row oldVersionColumns"
      *ngIf="addForm.value.LOOKUP_TABLE_NAME && oldVersionColumns && oldVersionColumns.length">
      <label class="pr-0 col-5">Existing Columns - </label>
      <div class="col-7 row">
        <input class="form-control" type="text" value="{{oldVersionColumns}}">
      </div>
    </div>
    <div class="col-12"></div>

    <div class="form-group col-12 row" *ngIf="addForm.value.LOOKUP_TABLE_NAME">
      <label class="pr-0 col-12">Select Dimension Table Columns to add to {{ selectedTable.TABLE_NAME }} <span
          class="required">*</span></label>
      <div class="col-12 row dualList">
        <dual-list key="TARGET_COLUMN_NAME" display="TARGET_COLUMN_NAME" [source]="dimensionTableColumns"
          [(destination)]="LOOKUP_COLUMNS" filter="true" class="col-12" (destinationChange)="destinationChange()">
        </dual-list>
      </div>
    </div>

    <div *ngIf="action !== 'view'" class="form-group col-6 m-0">
      <button [ngClass]="{ 'disabled': !addForm.valid || saveLookUpLoader  }" type="submit"
        class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
      <img *ngIf="saveLookUpLoader" class="ml-2" width="40" src="assets/images/green_loader.gif" alt="Loader Image">
      <button *ngIf="action === 'new'" type="reset" class="btn btn-secondary ml-2 btn-sm"
        (click)="reset()">Reset</button>
    </div>
  </form>

</div>