<div class="row" *ngIf="selectedTable">
  <div class="col-6">
    Schema Name: <span class="font-weight-bold">{{ selectedTable.SCHEMA_NAME }}</span>
  </div>
  <div class="col-6">
    Table Name: <span class="font-weight-bold">{{ selectedTable.TABLE_NAME }}</span>
  </div>
</div>

<div class="row mt-3">
  <h6 class="col-12 text-center mb-3">LOOKUP Table Info:</h6>

  <div class="form-group col-6 row">
    <label class="pr-0 col-4">Choose Table Name <span class="required">*</span></label>
    <div class="col-8 row">
      <p-dropdown class="col-12" appendTo="body" [options]="dimensionTables" [filter]="true"
        placeholder="Select a Table" optionLabel="TABLE_NAME" (onChange)="tableSelected($event)">
      </p-dropdown>
    </div>
    <div class="col-12 mt-1" *ngIf="errors.noValidatedVersion">
      <p class="error">
        {{errors.noValidatedVersion}}
      </p>
    </div>
  </div>

  <div class="form-group col-6 row">
    <label class="pr-0 col-4">TABLE ALIAS <span class="required">*</span></label>
    <div class="col-8">
      <input type="TEXT" class="form-control">
    </div>
  </div>

  <hr class="col-12">

  <div class="form-group col-6 row">
    <label class="pr-0 col-4">{{ selectedTable.TABLE_NAME }} Column <span class="required">*</span></label>
    <div class="col-8 row">
      <p-dropdown class="col-12" appendTo="body" [options]="tableColumns" [filter]="true"
        optionLabel="TARGET_COLUMN_NAME">
      </p-dropdown>
    </div>
  </div>

  <div class="form-group col-6 row">
    <label class="pr-0 col-4">Dimension Column <span class="required">*</span></label>
    <div class="col-8 row">
      <p-dropdown class="col-12" appendTo="body" [options]="dimensionTableColumns" [filter]="true"
        optionLabel="TARGET_COLUMN_NAME">
      </p-dropdown>
    </div>
  </div>

  <div class="form-group col-6">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary ml-2">Reset</button>
  </div>


</div>