<div class="app-title">
  <h1>
    <i class="app-title-icon fa fa-server"></i>
    <span>Clusters</span>
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <button
        appPermission
        expectedPermission="addEmailConfigModule"
        class="btn btn-sm btn-primary mb-2 float-right"
        [routerLink]="['./add-cluster']"
      >
        Add New
      </button>
      <div class="table-responsive">
        <p-table
          #dt
          [columns]="selectedColumns"
          [value]="clustersArray"
          [responsive]="true"
          dataKey="TABLE_NAME"
          [tableStyle]="{ 'table-layout': 'auto' }"
          styleClass="scroll-table-cluster"
        >
          <ng-template pTemplate="caption">
            <div class="globalSearch">
              <input
                type="text"
                pInputText
                size="50"
                placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto"
              />
              <button class="btn btn-sm btn-primary" type="button">
                <i class="fa fa-lg fa-fw fa-search"></i>
              </button>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                *ngFor="let col of columns"
                [pSortableColumn]="col.field"
                pReorderableColumn
              >
                {{ col.field }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="fixedcol rightfixedcol">Action</th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" class="ui-flclassuid">
                <input
                  pInputText
                  *ngIf="col.type !== 'date'"
                  type="text"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                  [value]="dt.filters[col.field]?.value"
                />
              </th>
              <th class="fixedcol rightfixedcol"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                <span [ngSwitch]="col.type">
                  <p *ngSwitchCase="'date'">
                    <span> {{ rowData[col.field] | dateConvert }} </span>
                  </p>
                  <p *ngSwitchCase="'link'">
                    <a [href]="rowData[col.field]" target="_blank">
                      {{ rowData[col.field] }}
                    </a>
                  </p>
                  <p *ngSwitchDefault>
                    <span> {{ rowData[col.field] }} </span>
                  </p>
                </span>
                <!-- <ng-container *ngIf="col.type === 'date'; else elseTemplate">
                  <span> {{ rowData[col.field] | dateConvert }} </span>
                </ng-container>
                <ng-container *ngSwitchCase="'link'">
                  <a [href]="rowData[col.field]" target="_blank">
                    {{ rowData[col.field] }} </a>
                </ng-container>
                <ng-template #elseTemplate>
                  <span> {{ rowData[col.field] }} </span>
                </ng-template> -->
              </td>
              <td class="fixedcol rightfixedcol" style="white-space: nowrap">
                <div>
                  <button
                    appPermission
                    expectedPermission="editEmailConfigModule"
                    (click)="editCluster(rowData, true)"
                    title="Edit"
                    class="btn btn-sm btn-primary"
                  >
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-primary ml-1"
                    type="button"
                    (click)="editCluster(rowData, false)"
                  >
                    <i class="fa fa-eye"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div
          colspan="10"
          class="text-center p-2 border"
          *ngIf="!clustersArray || !clustersArray.length"
        >
          <h6>No Data Available!</h6>
        </div>
      </div>
    </div>
  </div>
</div>
