<div class="app-title">
  <div>
    <h1>
      <i class="fa fa-server"></i> CLUSTERS</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <button class="btn btn-sm btn-primary mb-2 float-right" [routerLink]="[ './add-cluster' ]">Add New</button>
      <div class="table-responsive">
        <p-table #dt1 [columns]="selectedColumns" [value]="clustersArray" [responsive]="true" dataKey="TABLE_NAME"
          [reorderableColumns]="true" [tableStyle]="{'table-layout':'auto'}" styleClass="scroll-table-cluster">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn>
                {{col.field}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="fixedcol rightfixedcol">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                <ng-container *ngIf="col.type === 'date'; else elseTemplate">
                  <span> {{ rowData[col.field] | date: 'short' }} </span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span> {{ rowData[col.field] }} </span>
                </ng-template>
              </td>
              <td class="fixedcol rightfixedcol" style='white-space: nowrap'>
                <div>
                  <button (click)="editCluster(rowData)" title="Edit" class="btn btn-sm btn-primary ml-1">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>