.btn i.fa {
  vertical-align: baseline;
}

input[type="checkbox"].form-control {
  width: 20px;
  float: left;
  /* margin-left: 25px; */
}

.required {
  color: red;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.tile-body {
  position: relative;
}

.form-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
