<p-toast></p-toast>
<div class="app-title mb-3 p-3">
    <div>
        <h5>
            <i class="fa fa-columns"></i>
            <span> Column Metadata Version</span>
            <span *ngIf="routeInfo"> -
                {{routeInfo.id && !routeInfo.isViewOnly ? 'Edit': routeInfo.isViewOnly ? 'View' : 'Add'}} Column</span>
        </h5>
        <div class="mt-4">
            Table Name:
            <h6 class="d-inline-block" *ngIf="TABLE_NAME"> {{TABLE_NAME}} </h6>
        </div>
    </div>
    <a class="btn btn-link goBack float-right" (click)="goBack()">Go Back</a>
</div>

<div class="row">
    <div class="col-md-12 p-0">
        <div class="tile">
            <ngx-loading [show]="loader.formData" [config]="{ backdropBorderRadius: '3px' }">
            </ngx-loading>
            <form [formGroup]="addEditColumnForm" (ngSubmit)="onSubmit()" class="form-horizontal">

                <div class="text-right">
                    <div class="row">
                        <div class="col-md-12">
                            <button *ngIf="!routeInfo.isViewOnly" class="btn btn-sm btn-primary" type="button"
                                (click)="onSubmit()"
                                [ngClass]="{'disabled': !addEditColumnForm.valid || loader.saveColumn}">
                                <i class="fa fa-fw fa-lg fa-check-circle"></i>
                                Save
                            </button>
                            <img *ngIf="loader.saveColumn" class="ml-2" width="40" src="assets/images/green_loader.gif"
                                alt="Loader Image">
                            <button type="button" class="btn btn-sm btn-secondary ml-2" (click)="goBack()">
                                <i class="fa fa-fw fa-lg fa-times-circle"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="tile-body">
                    <div *ngIf="routeInfo.isViewOnly" class="form-overlay"></div>
                    <p-accordion [multiple]="true" class="col-12">

                        <!-- Source Info -->
                        <p-accordionTab header="Source Info" [selected]="true">
                            <div class="row mt-2">
                                <div class="form-group col-6 row"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || (loadStrategy === 'FLAT' && routeInfo.isEditMode) || routeInfo.fromHeaderHash || (routeInfo.isEditMode && !addEditColumnForm.controls.IS_NEW.value)}">
                                    <label class="control-label col-md-5">SRC COLUMN TYPE<span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <select tabindex="{{ routeInfo.fromHeaderHash ? -1 : '' }}"
                                            formControlName="SRC_COLUMN_TYPE" class="form-control"
                                            (change)="updateValidation()"
                                            [ngClass]="{ 'is-invalid': submitted && f.SRC_COLUMN_TYPE.errors }">
                                            <option value="MAPPED">MAPPED</option>
                                            <option value="DERIVED">DERIVED</option>
                                            <option value="PREDEFINED">PREDEFINED</option>
                                            <option
                                                *ngIf="addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP'"
                                                value="DIMLOOKUP">DIMLOOKUP</option>
                                        </select>
                                        <div *ngIf="submitted && f.SRC_COLUMN_TYPE.errors" class="invalid-feedback">
                                            <div *ngIf="f.SRC_COLUMN_TYPE.errors.required">SRC COLUMN TYPE is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || routeInfo.fromHeaderHash || (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">SRC COLUMN NAME <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <input tabindex="{{ routeInfo.fromHeaderHash ? -1 : '' }}"
                                            oninput="this.value = this.value.toLowerCase()"
                                            formControlName="SRC_COLUMN_NAME" class="form-control" type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f.SRC_COLUMN_NAME.errors }" />
                                        <div *ngIf="submitted && f.SRC_COLUMN_NAME.errors" class="invalid-feedback">
                                            <div *ngIf="f.SRC_COLUMN_NAME.errors.required">SRC COLUMN NAME is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'MAPPED' || routeInfo.fromHeaderHash"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">SRC DATA TYPE <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <select (change)="targetDataTypeValidation()" formControlName="SRC_DATA_TYPE"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.SRC_DATA_TYPE.errors }">
                                            <option value="string">string</option>
                                            <option value="integer">integer</option>
                                            <option value="long">long</option>
                                            <option value="decimal">decimal</option>
                                            <option value="timestamp">timestamp</option>
                                        </select>
                                        <div *ngIf="submitted && f.SRC_DATA_TYPE.errors" class="invalid-feedback">
                                            <div *ngIf="f.SRC_DATA_TYPE.errors.required">SRC DATA TYPE is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['SRC_DATA_TYPE'] === 'decimal'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP'|| (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">SRC DECIMAL PRECISION <span
                                            class="required">*</span></label>
                                    <div class="row m-0 pl-3 col-7">
                                        <input type="number" class="form-control col-3"
                                            formControlName="SRC_LEFT_PRECISION" min="0" max="38">
                                        <input type="number" class="form-control ml-1 col-3"
                                            formControlName="SRC_RIGHT_PRECISION" min="0" max="38">
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'MAPPED' || addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'PREDEFINED'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || (routeInfo.isEditMode && !addEditColumnForm.controls.IS_NEW.value) || (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">INTERNAL COLUMN</label>
                                    <div class="col-md-7">
                                        <input formControlName="INTERNAL_COLUMN" class="form-control" type="checkbox" />
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'DERIVED'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP'|| (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">DERIVED COLUMN FORMULA <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <input formControlName="DERIVED_COLUMN_FORMULA" class="form-control" type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f.DERIVED_COLUMN_FORMULA.errors }" />
                                        <div *ngIf="submitted && f.DERIVED_COLUMN_FORMULA.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.DERIVED_COLUMN_FORMULA.errors.required">DERIVED COLUMN FORMULA
                                                is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="!routeInfo.fromHeaderHash && addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'DIMLOOKUP'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP'|| (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">LOOKUP TABLE ALIAS</label>
                                    <div class="col-md-7">
                                        <input formControlName="LOOKUP_TABLE_ALIAS" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'PREDEFINED'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP'|| (loadStrategy === 'FLAT' && routeInfo.isEditMode)}">
                                    <label class="control-label col-md-5">PREDEFINED VALUE <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <select formControlName="PREDEFINED_VALUE" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.PREDEFINED_VALUE.errors }">
                                            <option value="LOAD_TIMESTAMP">LOAD_TIMESTAMP</option>
                                            <option value="INPUT_FILENAME">INPUT_FILENAME</option>
                                        </select>
                                        <div *ngIf="submitted && f.PREDEFINED_VALUE.errors" class="invalid-feedback">
                                            <div *ngIf="f.PREDEFINED_VALUE.errors.required">PREDEFINED VALUE
                                                is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <!-- TARGET Info-->
                        <p-accordionTab header="Target Info" class="col-12" [selected]="true">
                            <div class="row mt-2">
                                <div class="form-group col-6 row">
                                    <label class="control-label col-md-5">TARGET COLUMN NAME <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <input tabindex="{{ routeInfo.fromHeaderHash ? -1 : '' }}"
                                            oninput="this.value = this.value.toLowerCase()"
                                            formControlName="TARGET_COLUMN_NAME" class="form-control" type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f.TARGET_COLUMN_NAME.errors }" />
                                        <div *ngIf="submitted && f.TARGET_COLUMN_NAME.errors" class="invalid-feedback">
                                            <div *ngIf="f.TARGET_COLUMN_NAME.errors.required">TARGET COLUMN NAME is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row">
                                    <label class="control-label col-md-5">TARGET DATA TYPE <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <select (change)="targetDataTypeValidation()" formControlName="TARGET_DATA_TYPE"
                                            class="form-control"
                                            [ngClass]="{'disabled': addEditColumnForm.value['SRC_COLUMN_TYPE'] === 'PREDEFINED' && addEditColumnForm.value['PREDEFINED_VALUE'] === 'INPUT_FILENAME' }"
                                            [ngClass]="{ 'is-invalid': submitted && f.TARGET_DATA_TYPE.errors }">
                                            <option value="varchar">varchar</option>
                                            <option value="int">int</option>
                                            <option value="bigint">bigint</option>
                                            <option value="decimal">decimal</option>
                                            <option value="timestamp">timestamp</option>
                                        </select>
                                        <div *ngIf="f.TARGET_DATA_TYPE.errors?.error" class="mt-1 targetCustomError">
                                            <span>TARGET Data Type Error</span>
                                        </div>
                                        <div *ngIf="submitted && f.TARGET_DATA_TYPE.errors" class="invalid-feedback">
                                            <div *ngIf="f.TARGET_DATA_TYPE.errors.required">TARGET DATA TYPE is
                                                required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['TARGET_DATA_TYPE'] === 'timestamp'"
                                    [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || addEditColumnForm.controls.INTERNAL_COLUMN.value === true || addEditColumnForm.controls.INTERNAL_COLUMN.value}">
                                    <label class="control-label col-md-5">IS UPDATE DATE COLUMN <span
                                            class="required">*</span></label>
                                    <div class="col-md-7">
                                        <input formControlName="IS_UPDATE_DATE_COLUMN" class="form-control"
                                            type="checkbox" />
                                    </div>
                                </div>
                                <div class="form-group col-6 row"
                                    *ngIf="addEditColumnForm.value['TARGET_DATA_TYPE'] === 'decimal' || addEditColumnForm.value['TARGET_DATA_TYPE'] === 'varchar'">
                                    <label class=" control-label col-md-5">TARGET PRECISION <span
                                            class="required">*</span></label>
                                    <div class="row m-0 pl-3 col-7">
                                        <input formControlName="TARGET_LEFT_PRECISION" type="number"
                                            class="form-control col-3"
                                            [ngClass]="{'col-6': addEditColumnForm.value['TARGET_DATA_TYPE'] === 'varchar'}"
                                            min="0" max="99">
                                        <input formControlName="TARGET_RIGHT_PRECISION" type="number"
                                            class="form-control ml-1 col-3"
                                            *ngIf="addEditColumnForm.value['TARGET_DATA_TYPE'] === 'decimal'" min="0"
                                            max="38">
                                        <div *ngIf="submitted && f.TARGET_LEFT_PRECISION.errors"
                                            class="mt-1 targetCustomError">
                                            <span>TARGET PRECISION should be more than SRC</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group col-6 row">
                                    <label class="control-label col-md-5">TARGET DEFAULT VALUE</label>
                                    <div class="col-md-7">
                                        <input formControlName="TARGET_DEFAULT_VALUE" class="form-control"
                                            type="text" />
                                    </div>
                                </div> -->
                            </div>
                        </p-accordionTab>
                        <!-- Other Info  -->
                        <p-accordionTab header="Other Info" class="col-12" [selected]="true">
                            <div class="row mt-2"
                                [ngClass]="{'disabled': addEditColumnForm.controls.SRC_COLUMN_TYPE.value === 'DIMLOOKUP' || addEditColumnForm.controls.INTERNAL_COLUMN.value === true || addEditColumnForm.controls.INTERNAL_COLUMN.value }">

                                <div class="form-group col-6 row">
                                    <label class="control-label col-md-5">IS PRIMARY KEY COLUMN</label>
                                    <div class="col-md-7">
                                        <input formControlName="IS_PKEY_COLUMN" class="form-control" type="checkbox" />
                                    </div>
                                </div>
                                <div class="form-group col-6 row" [ngClass]="{'disabled': routeInfo.isEditMode && !addEditColumnForm.controls.IS_NEW.value }">
                                    <label class="control-label col-md-5">IS PARTITION COLUMN</label>
                                    <div class="col-md-7">
                                        <input formControlName="IS_PARTITION_COLUMN" class="form-control"
                                            type="checkbox" />
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>

                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button *ngIf="!routeInfo.isViewOnly"
                                    [ngClass]="{'disabled': !addEditColumnForm.valid || loader.saveColumn }"
                                    class="btn btn-sm btn-primary" type="button" (click)="onSubmit()">
                                    <i class="fa fa-fw fa-lg fa-check-circle"></i>
                                    Save
                                </button>
                                <img *ngIf="loader.saveColumn" class="ml-2" width="40"
                                    src="assets/images/green_loader.gif" alt="Loader Image">
                                <button type="button" class="btn btn-sm btn-secondary ml-2" (click)="goBack()">
                                    <i class="fa fa-fw fa-lg fa-times-circle"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>