<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="col-12">
                <tr>
                    <td class="text-right">SCHEMA NAME :</td>
                    <td class="font-weight-bold">{{header.SCHEMA_NAME}}</td>
                    <td class="text-right">TABLE :</td>
                    <td class="font-weight-bold">{{header.TABLE_NAME}}</td>
                </tr>
                <tr>
                    <td class="text-right">HEADER HASH :</td>
                    <td class="font-weight-bold">{{header.HEADER_HASH}}</td>
                    <td class="text-right">COLUMN NAME :</td>
                    <td class="font-weight-bold">{{header.COLUMN_NAME}}</td>
                </tr>
                <tr>
                    <td class="text-right">COLUMN STATUS :</td>
                    <td class="font-weight-bold">{{header.COLUMN_STATUS}}</td>
                    <td class="text-right">SAMPLE VALUES :</td>
                    <td class="font-weight-bold">{{header.SAMPLE_VALUES}}</td>
                </tr>
                <tr>
                    <td class="text-right">DATA TYPE :</td>
                    <td class="font-weight-bold">{{header.DATA_TYPE}}</td>
                </tr>
                <tr *ngIf="status !== 'APPROVED'">
                    <td class="text-right">
                        <form>
                            <div class="">
                                <label class="">Select Data Type</label>
                                <!-- <select class="form-control col-6">
                                    <option value="int">int</option>
                                    <option value="string">string</option>
                                </select> -->
                            </div>
                        </form>
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="int">int</option>
                            <option value="string">string</option>
                            <option value="boolean">boolean</option>
                        </select>
                    </td>
                </tr>
            </table>
            <hr>
            <div>
                <button *ngIf="status !== 'APPROVED'" class="btn btn-primary" type="button" (click)="onSubmit()">
                    <i class="fa fa-fw fa-lg fa-check-circle"></i>
                    Save
                </button>
                <!-- <img class="ml-2" width="40" src="assets/images/green_loader.gif" alt="Loader Image"> -->
                <!-- <button class="btn btn-secondary ml-2" (click)="closePopUp()">
                    <i class="fa fa-fw fa-lg fa-times-circle"></i> Cancel
                </button> -->
            </div>
        </div>
    </div>
</div>