<div class="row mb-5">
    <div class="left col-6">
        <h6 class="text-center mb-3">
            Version - 1 [VALIDATED]
        </h6>
        <div class="tiles">
            <span class="tiles">avg_itrtn_per_cword</span>
            <span class="striped-border"></span>
        </div>
        <div class="tiles">
            <span class="tiles">birth_date</span>
            <span class="striped-border"></span>
        </div>
        <div class="tiles">
            <span class="tiles">bits_in_error_cnt</span>
            <span class="striped-border"></span>
        </div>
        <div class="tiles">
            <span class="tiles deleted">deleted column</span>
        </div>
    </div>
    <div class="right col-6">
        <h6 class="text-center mb-3">
            Version - 2 [NEW]
        </h6>
        <div class="tiles">
            <span class="tiles">avg_itrtn_per_cword</span>
        </div>
        <div class="tiles">
            <span class="tiles">birth_date</span>
        </div>
        <div class="tiles">
            <span class="tiles rename">renamed column</span>
        </div>
    </div>
</div>