th,
td {
    height: 30px;
}

ul {
    margin: 0;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

/deep/ body .ui-table .ui-table-tbody > tr {
    &.newColumn {
        background-color: #f9e4d5;
    }

    &.updatedColumn {
        background-color: #b9ecea;
    }

    &.deleted {
        background-color: #eca4a4;
    }
}