th,
td {
  height: 30px;
}

.icon {
  width: 60px !important;
}

ul {
  margin: 0;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

/deep/ body .ui-table .ui-table-tbody > tr {
  &.newColumn {
    background-color: #f9e4d5;
  }

  &.updatedColumn {
    background-color: #b9ecea;
  }

  &.deleted {
    background-color: #eca4a4;
  }
}

.fa-check-square-o {
  color: #6fd042;
  font-size: 20px;
}

.fa-times-circle-o {
  font-size: 18px;
  color: #8c8080;
}
