<p-toast></p-toast>
<div class="app-title">
  <div>
    <h1>
      <i class="fa fa-user"></i> Spark Config</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="btn-group">
          </div>
          <div class="btn-group float-right">
            <button class="btn btn-sm btn-primary"
              [routerLink]="[ './add' ]">Add New</button>
          </div>
        </div>
      </div>
      <p-table #dt [value]="sparkConfig" [columns]="sparkConfigColumns"
        [reorderableColumns]="true" [tableStyle]="{'table-layout':'auto'}"
        styleClass="scroll-table-without-checkbox">
        <ng-template pTemplate="caption">
          <div class="globalSearch">
            <input type="text" pInputText size="50" placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width:auto">
            <button class="btn btn-sm btn-primary" type="button">
              <i class="fa fa-lg fa-fw fa-search"></i>
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th class="fixedcol rightfixedcol">Action</th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field"
              class="ui-flclassuid">
              <input pInputText *ngSwitchDefault type="text"
                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                [value]="dt.filters[col.field]?.value">
            </th>
            <th class="fixedcol rightfixedcol"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr height="35px" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td class="fixedcol rightfixedcol" style='white-space: nowrap'>
              <button class="btn btn-sm btn-primary mr-2" type="button"
                (click)="selectSparkConfig(rowData, true)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-sm btn-primary" type="button"
                (click)="selectSparkConfig(rowData, false)">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div colspan="10" class="text-center p-2 border"
        *ngIf="!sparkConfig || !sparkConfig.length">
        <h6>No Data Available!</h6>
      </div>
    </div>
  </div>
</div>
