<p-toast></p-toast>
<div class="app-title">
  <h1>
    <i class="app-title-icon fa fa-bullseye"></i>
    <span>DB Endpoints</span>
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="btn-group"></div>
          <div class="btn-group float-right">
            <a
              class="btn btn-sm btn-primary"
              appPermission
              expectedPermission="addDBEndponitsModule"
              [routerLink]="['./add']"
              >Add New</a
            >
          </div>
        </div>
      </div>
      <p-table
        #dt
        [value]="dbEndpoints"
        [columns]="dbEndpointColumns"
        [reorderableColumns]="true"
        [tableStyle]="{ 'table-layout': 'auto' }"
        styleClass="scroll-table-without-checkbox"
      >
        <ng-template pTemplate="caption">
          <div class="globalSearch">
            <input
              type="text"
              pInputText
              size="50"
              placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width:auto"
            />
            <button class="btn btn-sm btn-primary" type="button">
              <i class="fa fa-lg fa-fw fa-search"></i>
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon
                [field]="col.field"
                ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"
              >
              </p-sortIcon>
            </th>
            <th class="fixedcol rightfixedcol">Action</th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" class="ui-flclassuid">
              <input
                pInputText
                *ngIf="col.type !== 'date'"
                type="text"
                (input)="
                  dt.filter($event.target.value, col.field, col.filterMatchMode)
                "
                [value]="dt.filters[col.field]?.value"
              />
            </th>
            <th class="fixedcol rightfixedcol"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr height="35px" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              <ng-container *ngIf="col.type === 'date'; else elseTemplate">
                <span> {{ rowData[col.field] | dateConvert }} </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span> {{ rowData[col.field] }} </span>
              </ng-template>
            </td>
            <td class="fixedcol rightfixedcol">
              <button
                appPermission
                expectedPermission="editDBEndponitsModule"
                class="btn btn-sm btn-primary mr-2"
                type="button"
                (click)="selectEndpoint(rowData, true)"
              >
                <i class="fa fa-pencil"></i>
              </button>
              <button
                appPermission
                expectedPermission="readDBEndponitsModule"
                class="btn btn-sm btn-primary"
                type="button"
                (click)="selectEndpoint(rowData, false)"
              >
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div
        colspan="10"
        class="text-center p-2 border"
        *ngIf="!dbEndpoints || !dbEndpoints.length"
      >
        <h6>No Data Available!</h6>
      </div>
    </div>
  </div>
</div>
