<p-toast></p-toast>

<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-tasks"></i> Load Status
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="tile">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="row">
                <div class="col-6 row">
                    <h5 class="col-12">Filter by</h5>
                    <div class="col-4">
                        <p-autoComplete formControlName="SCHEMA_NAME" placeholder="Schema Name" [suggestions]="autocomplete.SCHEMA_NAME" (completeMethod)="search($event, 'SCHEMA_NAME')" (onSelect)="onSubmit($event, true)" (keyup)="onSubmit($event)"></p-autoComplete>
                    </div>
                    <div class="col-4">
                        <p-autoComplete formControlName="TABLE_NAME" placeholder="Table Name" [suggestions]="autocomplete.TABLE_NAME" (completeMethod)="search($event, 'TABLE_NAME')" (onSelect)="onSubmit($event, true)" (keyup)="onSubmit($event)"></p-autoComplete>
                    </div>
                    <div class="col-4">
                        <p-autoComplete formControlName="STATUS" placeholder="Status" [suggestions]="autocomplete.STATUS" (completeMethod)="search($event, 'STATUS')" (onSelect)="onSubmit($event, true)" (keyup)="onSubmit($event)"></p-autoComplete>
                    </div>
                </div>
                <div class="col-6 row">
                    <h5 class="col-12">Time Period</h5>
                    <div class="col-7">
                        <div class="btn-group btn-group-toggle">
                            <label [ngClass]="{'active': toogleButton === 7}" class="btn btn-info" (click)="toogleButton = 7">
                                <input formControlName="AVG_TIME" id="7days" type="radio" name="AVG_TIME" autocomplete="off" checked="" value="7"> 7 days
                            </label>
                            <label [ngClass]="{'active': toogleButton === 1}" class="btn btn-info" (click)="toogleButton = 1">
                                <input formControlName="AVG_TIME" id="1month" type="radio" name="AVG_TIME" autocomplete="off" value="1"> 1 Month
                            </label>
                            <label [ngClass]="{'active': toogleButton === 6}" class="btn btn-info" (click)="toogleButton = 6">
                                <input formControlName="AVG_TIME" id="6months" type="radio" name="AVG_TIME" autocomplete="off" value="6"> 6 Months
                            </label>
                        </div>
                    </div>
                    <div class="col-5">
                        <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                        <!-- <input (click)="discard()" type="reset" class="btn btn-dark ml-2" value="Reset"> -->
                    </div>
                </div>
            </form>
            <div class="col-12">
                <hr>
            </div>
            <ngx-loading [show]="loader.tasks" [config]="{ backdropBorderRadius: '3px' }">
            </ngx-loading>
            <div class="mt-2 col-12" *ngIf="!loader.tasks">
                <div class="clearfix">
                    <div class="div" class="float-left mt-2">
                        <label>Show</label>
                        <select #limit name="limit" class="ml-1" (change)="changeLimit(limit.value)">
                            <option value="10" selected>10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="all">All</option>
                        </select>
                        <label class="ml-1">Records</label>
                    </div>
                    <img *ngIf="loader.saveTasks" class="float-right" width="40" src="assets/images/green_loader.gif" alt="Loader Image">
                    <button [ngClass]="{'disabled': !tasksMoved || loader.saveTasks}" class="float-right btn btn-success ml-2" (click)="save()">Save Changes</button>
                    <button [ngClass]="{'disabled': !tasksMoved || loader.saveTasks}" class="float-right btn btn-danger" (click)="
                    discard()">Discard Changes</button>
                </div>
                <div *ngIf="errors.updateEror" class="alert alert-danger mt-2" role="alert">
                    Could not update all records. Please try again.
                </div>
                <div class="mt-3" *ngIf="taskData.length; else elseTemplate">
                    <daypilot-gantt [config]="config"></daypilot-gantt>
                </div>
                <ng-template #elseTemplate>
                    <div class="text-center">
                        Data Not Available!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>