.sidebar span {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10px;
}

.sidebar {
    background: #f3f3f3;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    height: 100%;
}