<p-toast></p-toast>
<div class="app-title">
  <h1>
    <i class="app-title-icon fa fa-hourglass-start"></i>
    <span>Loading Status Summary</span>
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h6 class="text-center">
        Load Control Status
      </h6>
      <div>
        <ngx-loading [show]="dataLoader"
          [config]="{ backdropBorderRadius: '3px' }">
        </ngx-loading>
        <p-table #dt1 [columns]="selectedColumns" [value]="recordsArray"
          [responsive]="true" dataKey="TABLE_NAME" stateStorage="local"
          stateKey="loadingStatusSelectedColumnsOrder"
          [reorderableColumns]="true" [tableStyle]="{'table-layout':'auto'}">
          <ng-template pTemplate="caption">
            <div style="text-align: left">
              <p-multiSelect scrollHeight="60vh" [options]="allColumns"
                [(ngModel)]="selectedColumns" optionLabel="field"
                selectedItemsLabel="{0} columns selected"
                defaultLabel="Choose Columns" (onChange)="saveColumnState()">
              </p-multiSelect>
              <button class="btn btn-secondary btn-sm float-right"
                (click)="resetTable()">Reset Table</button>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                pReorderableColumn>
                {{col.field}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                <span title="Show Details" class="details"
                  (click)="showDetails(rowData, col.field, rowData)"
                  *ngIf="rowData[col.field]">
                  {{ rowData[col.field] }} </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div colspan="10" class="text-center p-2 border"
          *ngIf="!recordsArray || !recordsArray.length">
          <h6>No Data Available!</h6>
        </div>
      </div>
    </div>
  </div>
</div>
