<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar"
      src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
      alt="User Image">
    <div>
      <p class="app-sidebar__user-name">John Doe</p>
      <p class="app-sidebar__user-designation"></p>
    </div>
  </div>
  <ul class="app-menu">
    <li class="treeview is-expanded">
      <a class="app-menu__item" data-toggle="treeview">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Dashboard</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" routerLink="/dashboard">
            <i class="icon fa fa-circle-o"></i> EMR Table Status</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/dashboard/data-latency-summary">
            <i class="icon fa fa-circle-o"></i> Data Latency Summary</a>
        </li>
        <li>
          <a class="treeview-item"
            routerLink="/dashboard/loading-status-summary">
            <i class="icon fa fa-circle-o"></i> Loading Status Summary</a>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" data-toggle="treeview" routerLink="/loadcontrol"
        data-toggle="treeview">
        <i class="app-menu__icon fa fa-table"></i>
        <span class="app-menu__label">Load Control</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" routerLink="/loadcontrol">
            <i class="icon fa fa-circle-o"></i>
            All Data
          </a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/load-status">
            <i class="icon fa fa-circle-o"></i>
            Load Status
          </a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/db-endpoints">
            <i class="icon fa fa-circle-o"></i> DB Endpoints</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/clusters">
            <i class="icon fa fa-circle-o"></i> Clusters</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/spark-config">
            <i class="icon fa fa-circle-o"></i> Spark Config</a>
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" data-toggle="treeview">
        <i class="app-menu__icon fa fa-columns"></i>
        <span class="app-menu__label">Column Metadata Version</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" routerLink="/CMV/all-versions">
            <i class="icon fa fa-circle-o"></i> All Table Versions</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/CMV">
            <i class="icon fa fa-circle-o"></i>Table Details</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/header-hash">
            <i class="icon fa fa-circle-o"></i> File Header Hash</a>
        </li>
      </ul>
    </li>

    <li class="treeview">
      <a class="app-menu__item" data-toggle="treeview">
        <i class="app-menu__icon fa fa-user"></i>
        <span class="app-menu__label">User Management</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" routerLink="/user-management/users">
            <i class="icon fa fa-circle-o"></i> Users</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/user-management/roles">
            <i class="icon fa fa-circle-o"></i> Roles</a>
        </li>
        <li>
          <a class="treeview-item" routerLink="/user-management/permissions">
            <i class="icon fa fa-circle-o"></i> Permissions</a>
        </li>
      </ul>
    </li>

  </ul>
</aside>
