.goBack {
    text-decoration: underline !important;
}

.goBack:hover {
    text-decoration: none !important;
}

/deep/ .scroll-table-fhh {
    &.mismatch {
        .ui-table-wrapper {
            margin-right: 0;
        }
    }
    .ui-table-wrapper {
        overflow-y: scroll;
        overflow-x: auto;
        overflow-y: visible;
        margin-right: 60px;
        th,
        td {
            height: 40px;
            white-space: nowrap;
        }
        .fixedcol {
            position: absolute;
            width: 60px;
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .rightfixedcol {
            right: 0;
        }
        .ui-table-tbody>tr.ui-state-highlight {
            background-color: #ffffff !important;
            color: #333333 !important;
        }
        .ui-table-tbody>tr.ui-state-highlight:nth-child(even) {
            background-color: #f9f9f9 !important;
        }
    }
}