<div class="factColumns">
  <ngx-loading [show]="dataLoader" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>
  <!-- <form> -->
  <div class="form-group">
    Select Table Name:
    <p-dropdown placeholder="Select a Table" appendTo="body" class="ml-2 col-4" [options]="tables"
      [(ngModel)]="selectedTable" optionLabel="schemaTableName" [filter]="true" filterBy="value.schemaTableName"
      (onChange)="tableSelected()">
    </p-dropdown>
    <div class="col-12 mt-1" *ngIf="errors">
      <p class="error">
        {{ errors }}
      </p>
    </div>
  </div>

  <div class="p-2">
    <div class="form-group row columnsContainer">
      <div class="col-6 mb-1" *ngFor="let item of columns">
        <div>
          <label class="container">{{ item.TARGET_COLUMN_NAME }}
            <input type="checkbox" [checked]="item.checked" (click)="itemChecked(item)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-6 m-0" *ngIf="columns && columns.length">
    <button [ngClass]="{ 'disabled': saveLoader  }" type="submit" class="btn btn-primary btn-sm"
      (click)="saveColumns()">Submit</button>
    <img *ngIf="saveLoader" class="ml-2" width="40" src="assets/images/green_loader.gif" alt="Loader Image">
  </div>
  <!-- </form> -->
</div>