<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-user"></i> User management</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h4 class="mb-4">Users list</h4>
            <div class="table-responsive">
                <table class="table table table-striped border-bottom">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full name</th>
                            <th>Roles</th>
                            <th>Actins</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="animated-checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="label-text"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                admin
                            </td>
                            <td>
                                admin@demo.com
                            </td>
                            <td>
                                Varsha
                            </td>
                            <td>
                                Varsha N
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-2" type="button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" type="button">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="animated-checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="label-text"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                user
                            </td>
                            <td>
                                user@demo.com
                            </td>
                            <td>
                                Vania
                            </td>
                            <td>
                                Vania Westley
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-2" type="button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" type="button">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="animated-checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="label-text"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                guest
                            </td>
                            <td>
                                quest@demo.com
                            </td>
                            <td>
                                Daniel
                            </td>
                            <td>
                                Daniel Faraday
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-2" type="button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" type="button">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>