<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-table"></i>
            <span *ngIf="newRecord"> Add Load Control</span>
            <span *ngIf="!newRecord"> Edit Load Control</span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form class="form-horizontal">
                    <div *ngIf="!newRecord">
                        <div *ngFor="let col of loadControl">
                            <div class="form-group row">
                                <label class="control-label col-md-3">{{col.displayName}}</label>
                                <div class="col-md-8">
                                    <input [disabled]="!col.edit" class="form-control" *ngIf="!col.valueSet && col.dataType !== 'TIMESTAMP'"
                                        [type]="col.dataType == 'VARCHAR' ? 'text': 'number'"
                                        name="{{col.columnName}}" [(ngModel)]="record[col.columnName]"
                                    />
                                    <p-calendar [disabled]="!col.edit" *ngIf="!col.valueSet && col.dataType == 'TIMESTAMP'"
                                        showTime="true" hourFormat="24" name="{{col.columnName}}"
                                        [(ngModel)]="record[col.columnName]"></p-calendar>
                                    <select [disabled]="!col.edit" *ngIf="col.valueSet" class="form-control" name="{{col.columnName}}"
                                        [(ngModel)]="record[col.columnName]">
                                        <option *ngFor="let value of col.valueSetNew;" [ngValue]="value">{{value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="newRecord">
                        <div *ngFor="let col of loadControl">
                            <div *ngIf="col.insert" class="form-group row">
                                <label class="control-label col-md-3">{{col.displayName}}</label>
                                <div class="col-md-8">
                                    <input class="form-control" *ngIf="!col.valueSet && col.dataType !== 'TIMESTAMP'"
                                        [type]="col.dataType == 'VARCHAR' ? 'text': 'number'"
                                        name="{{col.columnName}}" [(ngModel)]="record[col.columnName]"
                                    />
                                    <p-calendar *ngIf="!col.valueSet && col.dataType == 'TIMESTAMP'" showTime="true"
                                        hourFormat="24" name="{{col.columnName}}" [(ngModel)]="record[col.columnName]"></p-calendar>
                                    <select *ngIf="col.valueSet" class="form-control" name="{{col.columnName}}" [(ngModel)]="record[col.columnName]">
                                        <option *ngFor="let value of col.valueSetNew;" [ngValue]="value">{{value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="tile-footer">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <button class="btn btn-primary" type="button" (click)="newRecord ? saveReport('insert'): saveReport('update')">
                            <i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-secondary" routerLinkActive="active" routerLink="/loadcontrol">
                            <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>