.schedulerModal {
  input {
    height: 25px;
  }

  select {
    height: 25px !important;
    padding: 0;
  }

  .ui-tabview-panels {
    border-width: 1px 0 0px 0px !important;
    padding: 1em;
  }

  .ui-tabview-left>.ui-tabview-nav {
    height: auto;
  }

  .ui-tabview-left>.ui-tabview-nav {
    width: 15%;
  }

  .ui-tabview-left>.ui-tabview-panels {
    width: 85%;
  }

  legend {
    margin: 0;
  }

  .ui-dialog-content {
    overflow: hidden;
  }
}

.table-status {
  .fa {
    font-size: 1.2em;
  }

  .TODO {
    color: #6c757d;
  }

  .RUNNING {
    color: #28a745;
  }

  .COMPLETE {
    color: #17a2b8;
  }

  .FAILED {
    color: #dc3545;
  }

  .HOLD {
    color: #ffc107;
  }
}

// .ui-table .ui-table-thead>tr:first-child>th {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 40px;
// }

// @media screen and (max-width: 64em) {
//   .ui-table .ui-table-thead>tr>th {
//     top: 40px;
//   }
// }

//table ui
// ::ng-deep .ui-table table,
// .ui-table table {
//   table-layout: auto !important;
// }

// ::ng-deep .ui-table-tablewrapper {
//   width: auto !important;
// }

// ::ng-deep .ui-table-resizable {
//   padding-bottom: 1px;
//   /* overflow: auto; */
//   width: auto !important;
// }

// .ui-table .ui-table-tbody>tr,
// .ui-table .ui-table-thead>tr>th,
// .ui-table .ui-table-tfoot>tr>td {
//   max-width: 300px !important;
//   font-size: 12px;
//   padding: 0px !important;
//   padding-left: 4px !important;
//   color: black;
//   text-transform: capitalize;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis !important;
//   border-width: 1px;
// }
