.schedulerModal {
  input {
    height: 25px;
  }

  select {
    height: 25px !important;
    padding: 0;
  }

  .ui-tabview-panels {
    border-width: 1px 0 0px 0px !important;
    padding: 1em;
  }

  .ui-tabview-left>.ui-tabview-nav {
    height: auto;
  }

  .ui-tabview-left>.ui-tabview-nav {
    width: 15%;
  }

  .ui-tabview-left>.ui-tabview-panels {
    width: 85%;
  }

  legend {
    margin: 0;
  }

  .ui-dialog-content {
    overflow: hidden;
  }
}

.table-status {
  .TODO {
    color: grey;
  }

  .RUNNING {
    color: green;
  }

  .COMPLETE {
    color: blue;
  }

  .FAILED {
    color: red;
  }
}
