<form class="row p-0" [formGroup]="addEditForm" (ngSubmit)="submit()">
  <div class="col-md-12">
    <div class="form-group">
      <label class="control-label">Enter User Name</label>
      <input class="form-control" type="text" formControlName="USER_NAME"
        [ngClass]="{ 'is-invalid': submitted && f.USER_NAME.errors }" />
      <div *ngIf="submitted && f.USER_NAME.errors" class="invalid-feedback">
        <div *ngIf="f.USER_NAME.errors.required">User Name is
          required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Enter EMAIL ID</label>
      <input class="form-control" type="text" formControlName="EMAIL_ID"
        [ngClass]="{ 'is-invalid': submitted && f.EMAIL_ID.errors }" />
      <div *ngIf="submitted && f.EMAIL_ID.errors" class="invalid-feedback">
        <div *ngIf="f.EMAIL_ID.errors.required">User EMAIL ID is
          required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Enter FULL NAME</label>
      <input class="form-control" type="text" formControlName="FULL_NAME"
        [ngClass]="{ 'is-invalid': submitted && f.FULL_NAME.errors }" />
    </div>
    <div class="form-group">
      <label class="control-label">Select Role</label>
      <select class="form-control" formControlName="ROLE"
        [ngClass]="{ 'is-invalid': submitted && f.ROLE.errors }">
        <option [value]="role.ID" *ngFor="let role of roles; let i = index">
          {{role.TITLE}}</option>
      </select>
      <div *ngIf="submitted && f.ROLE.errors" class="invalid-feedback">
        <div *ngIf="f.ROLE.errors.required">User ROLE is
          required</div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-3">.
    <button class="btn btn-sm btn-primary">
      <i
        class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-sm btn-secondary" (click)="closeModal(false)">
      <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</button>
  </div>
</form>
