<p-toast></p-toast>
<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <!-- <h1>Cylance</h1> -->
    <!-- <a class="app-header__logo" href="index.html"></a> -->
  </div>
  <div class="login-box">
    <form id="registerForm" class="login-form" [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">
      <h3 class="login-head">
        <i class="fa fa-lg fa-fw fa-user"></i>Register</h3>
      <div class="form-group">
        <label class="control-label">USER NAME</label>
        <input class="form-control" type="text" formControlName="USER_NAME"
          [ngClass]="{ 'is-invalid': submitted && f.USER_NAME.errors }" />
        <div *ngIf="submitted && f.USER_NAME.errors" class="invalid-feedback">
          <div *ngIf="f.USER_NAME.errors.required">USER NAME is required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD</label>
        <input class="form-control" type="password" formControlName="PASSWORD"
          [ngClass]="{ 'is-invalid': submitted && f.PASSWORD.errors }" />
        <div *ngIf="submitted && f.PASSWORD.errors" class="invalid-feedback">
          <div *ngIf="f.PASSWORD.errors.required">PASSWORD is required</div>
        </div>
      </div>

      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" id="signupSubmit"
          type="submit">
          <i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
      </div>
    </form>
  </div>
</section>
