/* You can add global styles to this file, and also import other style files */

*:focus {
    outline: none;
}

.app-header__logo {
    background: url('assets/images/seagate-logo.png') no-repeat center center;
    background-size: 60%;
    background-color: #000;
}


/* .app-sidebar {
  padding-top: 50px;
} */

.pace .pace-progress {
    background: #249c42;
}

.treeview-item {
    padding: 12px 15px 12px 35px;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight,
body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
    background-color: #ffffff;
    color: #333333;
}

.btn .icon,
.btn .fa {
    margin-right: 0;
}


/* MASTER STYLING START */

button.disabled,
input[type="submit"].disabled {
    cursor: not-allowed !important;
}

.ui-toast.ui-toast-top-right {
    z-index: 2000 !important;
}


/* MASTER STYLING END */


/* FOR CMV START */

.ui-accordion .ui-accordion-header a {
    background-color: #6c757d !important;
    color: #fff !important;
}

.ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #fff !important;
}

.ui-accordion .ui-accordion-header.ui-state-active a,
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
.ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #4e8c38 !important;
}


/* FOR CMV END #0d1214 #222d32 #6c757d*/

.globalSearch input[type="text"] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #009688;
    outline: none;
    padding: 5px 10px;
}

.globalSearch {
    display: flex;
}

.globalSearch button {
    border-radius: 0;
}

.separator {
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background-color: #ddd;
}

.separator-vertical {
    width: 2px;
    background-color: #ddd;
    margin: -8px 15px;
    height: 25px;
    display: inline-block;
}

.scroll-table .ui-table-wrapper {
    overflow-y: scroll;
    overflow-x: auto;
    overflow-y: visible;
    margin-left: 50px;
    margin-right: 50px;
}

.scroll-table .ui-table-wrapper th {
    height: 60px;
}

.scroll-table .ui-table-wrapper td {
    height: 60px;
}

.leftfixedcol {
    position: absolute;
    left: 0;
    width: 50px;
}

.rightfixedcol {
    position: absolute;
    right: 0;
    width: 50px;
}