/* You can add global styles to this file, and also import other style files */
.app-header__logo {
  background: url('assets/images/seagate-logo.png') no-repeat center center;
  background-size: 60%;
  background-color: #000;
}
/* .app-sidebar {
  padding-top: 50px;
} */
.pace .pace-progress {
  background: #249c42;
}
.treeview-item {
  padding: 12px 15px 12px 35px;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight,
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #ffffff;
  color: #333333;
}
.btn .icon, .btn .fa{
  margin-right: 0;
}